<div class="row g-3">
  <div class="col-12">
    <label class="form-label fw-semibold">Nama Kecamatan <span class="text-danger">*</span></label>
    <input type="text" class="form-control" name="nama" placeholder="Contoh: Semarang Tengah" required>
  </div>
  <div class="col-6 col-md-4">
    <label class="form-label fw-semibold">Penyelamatan Hewan (X1)</label>
    <input type="number" class="form-control" name="penyelamatan_hewan" value="0" min="0">
  </div>
  <div class="col-6 col-md-4">
    <label class="form-label fw-semibold">Penyelamatan di Air (X2)</label>
    <input type="number" class="form-control" name="penyelamatan_air" value="0" min="0">
  </div>
  <div class="col-6 col-md-4">
    <label class="form-label fw-semibold">Pertolongan Pertama Medis (X3)</label>
    <input type="number" class="form-control" name="pertolongan_medis" value="0" min="0">
  </div>
  <div class="col-6 col-md-4">
    <label class="form-label fw-semibold">Keruntuhan (X4)</label>
    <input type="number" class="form-control" name="keruntuhan" value="0" min="0">
  </div>
  <div class="col-6 col-md-4">
    <label class="form-label fw-semibold">Kecelakaan Transportasi (X5)</label>
    <input type="number" class="form-control" name="kecelakaan_transportasi" value="0" min="0">
  </div>
</div>
